# Dependencies
**/node_modules
**/dist
**/.next
**/out
**/build

# Environment
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# Databases
**/data/*.sqlite
**/data/*.sqlite-journal

# Logs
**/logs
**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db
